<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileLogger" fileName="logs/escenarios.log" append="false">
            <PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss} - %m%n">
                <Header>************************************************%n*Version Magisterial 1.0 fecha 01/07/2025      *%n*Inicio de Pruebas - Fecha: %d{dd/MM/yyyy HH:mm:ss}*%n************************************************%n</Header>
            </PatternLayout>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>